html {
  -webkit-tap-highlight-color: transparent;
}

input[type=number] {
  -moz-appearance: textfield;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
